{% extends "base_testing.html" %}
{% load crispy_forms_tags %}

{% block title %}Реєстрація{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Приєднуйтесь до спільноти Energy4u!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Реєстрація</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-secondary">
                Вже є аккаунт? <a class="ml-2" href="#">Вхід</a>
            </small>
        </div>
    </div>
{% endblock content %}