{% extends 'base_testing.html' %}

{% block title %}Energy4u{% endblock %}
{%block body%}bg-energy{% endblock %}
{% block content %}
    <!-- main content -->
    <h1>Energy4u - Тестування з електробезпеки</h1>
    <p>
        Вітаю на головній проекту energy4u!<br>
        Розробник: <em>Hybr1dTheory</em>
    </p>
    <h2>Коротка довідка</h2>
    <p>
        На даний момент база даних містить таку кількість
        питань для перевірки знань з електробезпеки: <strong>{{ num_questions }}</strong>
    </p>
    <p>
        Ви можете швидко спробувати відповісти
        на одне <a href="{% url 'one_quest' %}">випадкове питання</a> з БД.
    </p>

{% endblock %}