{% extends 'base_testing.html' %}

{% block title %}Testing questions{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
    <fieldset>
        <legend><h3>{{ question.q_text }}</h3></legend>
        {% if error_message %}<p class="text-danger">{{ error_message }}</p>{% endif %}
        {% for var in question.variant_set.all %}
        <div class="field">
            <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ var.id }}" value="{{ var.id }}">
            <label class="form-check-label my-label" for="{{ var.id }}">
                {{ var.var_order }}) {{ var.var_text }}
            </label>
        </div>

        {% endfor %}
    </fieldset>
<button type="submit" class="btn btn-primary">Відправити</button>
</form>
{% endblock %}
