{% extends 'base_testing.html' %}

{% block title %}Testing questions{% endblock %}

{% block content %}
<h1>Швидкий тест</h1>

{% if questions_list %}
<form action="" method="post">
    {% csrf_token %}
    {% if error_message %}<p class="text-danger">{{ error_message }}</p>{% endif %}
    {% for q in questions_list %}
    <fieldset>
        <legend><h3>{{ q.q_text }}</h3></legend>
        {% for var in q.variant_set.all %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="{{forloop.parentloop.counter}}"
                   value="{{ q.id }}:{{ var.id }}" id="{{ var.id }}">
            <label class="form-check-label my-label" for="{{ var.id }}">
                {{ var.var_order }}) {{ var.var_text }}
            </label>
        </div>
        {% endfor %}
    </fieldset>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Відправити</button>
</form>
{% else %}
<p>Не вдалося завантажити питання.</p>
{% endif %}
{% endblock %}