/* styles for my light theme */
.light-theme {
    background-color: #dad890;
    color: #000;
}

/* styles for my dark theme */
.dark-theme {
    background-color: #240038;
    color: #ffe657;
}

.my-label {
    width: 95%;
}

html, body {
    height: 100%;
}

.bg-energy {
    background-image: url('/static/images/energy-bg.png');
    background-size: cover;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 0px;
    position: sticky;
    top: 0
}

.main {
    padding: 10px;
    flex-grow: 1;
}

.footer {
    margin-top: auto;
}

table {
  border-collapse: collapse;
  border: 2px solid;
  letter-spacing: 1px;
}

caption {
  caption-side: top;
  padding: 10px;
}

th,
td {
  border: 1px solid;
  padding: 8px 10px;
}
