/* styles for my light theme */
.light-theme {
    background-color: #73C6B6;
    color: #000;
}

/* styles for my dark theme */
.dark-theme {
    background-color: #052922;
    color: #E8F1EF;
}

.my-label {
    width: 95%;
}

body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.footer {
    height: 200px;
}
